*:where(
        :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
    ) {
    all: unset;
    display: revert;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a,
button {
    cursor: revert;
}
ol,
ul,
menu {
    list-style: none;
}
table {
    border-collapse: collapse;
}
input,
textarea {
    -webkit-user-select: auto;
}
textarea {
    white-space: revert;
}
meter {
    -webkit-appearance: revert;
    appearance: revert;
}
:where(pre) {
    all: revert;
}

::placeholder {
    color: unset;
}
::marker {
    content: initial;
}
:where([hidden]) {
    display: none;
}
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}
:where([draggable="true"]) {
    -webkit-user-drag: element;
}
:where(dialog:modal) {
    all: revert;
}
/*👉Above is resetting css👈*/
/*👉Style guide👈*/
:root {
    --blue-dark: #274c77;
    --blue-medium: #6096ba;
    --blue-light: #a3cef1;
    --blue-light-opacity: #a3cef1da;
    --shaded-white: #e7ecef;
}
* {
    font-family: sans-serif, Arial;
}
title {
    font-size: 20px;
}
h1 {
    font-size: 18px;
}
h2 {
    font-size: 16px;
     text-align: center;
    margin: 10px 10% 20px 10%;
    background-color: var(--blue-dark);
    padding: 10px 0px;
    color: white;
    border-radius: 16px;
}
h3 {
    font-size: 14px;
}
p {
    font-size: 14px;
}
body {
    background-color: var(--shaded-white);
}
a {
    text-decoration: underline;
}
figcaption {
    font-size: 10px;
}
a:active {
    font-size: 14px;
}
a:hover {
    font-size: 14px;
}
section {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
 h1 {
    font-size: 2.6em;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.324);
}
article {
    width: 90%;
    border-radius: 6px;
    padding: 16px;
}
/*👉Header👈*/
body > header {
    background-image: url("../images/woman-6823356.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
body > header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}
body > header nav img {
    height: 80px;
    padding-left: 1.5em;
}
body > header nav > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2fr 3fr;
    grid-template-rows: 2fr 3fr;
}
body > header button {
    cursor: pointer;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 40px;
    border-radius: 16px;
}
body > header button span {
    width: 40px;
    height: 4px;
    display: block;
    background-color: black;
    margin: 5px;
    border-radius: 2px;
}
body > header ul {
    margin-right: 1.5em;
    z-index: 99;
    background-color: var(--blue-light);
    border-radius: 6px;
    border: 2px solid var(--blue-dark);
    box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 0.4);
    visibility: collapse;
    transition: all 0.3s ease-in;
    opacity: 0;
}
.show-mobile-nav {
    opacity: 1;
    visibility: visible;
}
body > header li {
    padding: 0px;
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    justify-content: center;
    align-items: center;
}
body > header li:hover {
    background-color: var(--blue-medium);
}
body > header a {
    padding: 10px;
    width: 100%;
    display: inline-block;
}
body > header a:hover {
    color: white;
    font-size: 1em;
}
body > header > article {
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}
body > header h1 {
    font-size: 4em;
    font-weight: 400;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.6);
    height: 80%;
}
body > header h2 {
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.6);
}

/*👉About👈*/
section:nth-child(2) article {
    background-color: var(--blue-medium);
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.324);
    -webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.324);
    -moz-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.324);
}
section:nth-child(2) article p {
    font-size: 1.3em;
    text-align: center;
}
/*👉Services👈*/
section:nth-child(3) {
    background-image: url("../images/pexels-antoni-shkraba-6749769-1000w.jpg");
}

section:nth-child(3) article {
    background-color: var(--blue-light-opacity);
}
section:nth-child(3) ul {
    list-style-image: url("../images/logo15px.png");
    list-style-position: inside;
}
section:nth-child(3) article figure {
    display: none;
}
/*👉Contact👈*/
section:nth-child(4) {
    height: 90vh;
    background-color: var(--blue-medium);
}
section:nth-child(4) h1 {
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.6);
}
section:nth-child(4) article {
    background-color: var(--blue-light);
    box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.3);
}
section:nth-child(4) a {
    color: blue;
}
section:nth-child(4) table {
    width: 100%;
}
section:nth-child(4) tr {
    width: 100%;
    text-align: center;
}
section:nth-child(4) td:first-child {
    text-align: left;
}
/*👉Footer👈*/
footer {
    height: 10vh;
    background-color: var(--blue-dark);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.7em;
}
footer span {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
footer img {
    width: 20px;
}
footer a {
    padding-top: 4px;
}
@media screen and (min-width: 500px) {
    section > article > h1 {
        color: white;
        background-color: var(--blue-dark);
        padding: 10px 50px;
        border-radius: 50px;
        box-shadow: 4px 4px 4px 2px rgba(107, 103, 103, 0.739);
        -webkit-box-shadow: 4px 4px 4px 2px rgba(107, 103, 103, 0.739);
        -moz-box-shadow: 4px 4px 4px 2px rgba(107, 103, 103, 0.739);
    }
    /*👉Header👈*/
    body > header nav > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .nav-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    body > header nav img {
        height: 120px;
        align-self: center;
    }
    body > header button {
        display: none;
    }
    body > header ul {
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        border: none;
        opacity: 1;
        visibility: visible;
        width: 70vw;
    }
    body > header li {
        width: 100%;
        max-width: 100px;
        text-align: center;
        font-size: 1.4em;
        border-radius: 10px;
        background-color: var(--blue-light);
    }
    body > header h1 {
        font-size: 7em;
        font-weight: 400;
    }
    body > header h2 {
        font-size: 3em;
    }
    /*👉About👈*/
    section:nth-child(2) article {
        width: 70%;
    }
    section:nth-child(2) article p {
        font-size: 1.2em;
    }
    /*👉Services👈*/
    section:nth-child(3) article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px;
    }
    section:nth-child(3) article header {
        grid-column: 1 / span 2;
    }
    section:nth-child(3) article ul:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / span 3;
    }
    section:nth-child(3) article ul:nth-child(3) {
        grid-column: 2;
        grid-row: 2;
    }
    section:nth-child(3) ul {
    list-style-image: url("../images/logo25px.png");
    }
    section:nth-child(3) article figure {
        grid-column: 2;
        grid-row: 3;
        display: block;
        text-align: center;
    }

    section:nth-child(3) article figure img {
        width: 80%;
        max-width: 200px;
        height: auto;
    }
    /*👉Contact👈*/
    section:nth-child(4) h1 {
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.324);
    }

    /*👉Footer👈*/
    footer {
        font-size: 1em;
    }
    footer img {
        width: 0px;
        padding-left: 6px;
    }
}
